#header {
  background-color: WHITE;
  margin-bottom:  20px;

}

#chart {
  background-color: #E0E0E0;
  padding: 10px;
}

body {
  padding-top: 50px;
  background-color: #B0BEC5;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
